////
/// Supplier item styling
////

@import '../../../../sass/variables';

.row {
  padding: 7px;

  :host.even & {
    background: $color-row-even;
  }

  :host.odd & {
    background: $color-row-odd;
  }
}

