<div class="row no-gutters">
  <div [ngClass]="{'col-3': showGroups, 'col-6': !showGroups}">
    {{ supplier.name }}
  </div>

  <div
    *ngIf="showGroups"
    class="col-5">
    <app-group-list
      [groups]="supplier.groups">
    </app-group-list>
  </div>

  <div class="col-2 text-right">
    <span
      class="action-edit btn btn-sm btn-outline-primary mr-2"
      (click)="onEditClick(supplier)">
      <fa-icon
        [icon]="faPencilAlt">
      </fa-icon>
      Edit
    </span>
  </div>
  <div class="col-2">
    <span
      class="action-delete btn btn-sm btn-outline-danger"
      (click)="onDeleteClick(supplier)">
      <fa-icon
        [icon]="faTimes">
      </fa-icon>
      Delete
    </span>
  </div>
</div>
