////
/// Theme variables
////

//COLORS
//------
$color-light-blue: #f8f9fa;
$color-white: #ffffff;
$color-gray: #495057;
$color-info: #17a2b8;
$color-input-border: #bbbbbb;
$color-input-text: #555555;
$color-input-focus-background: #f4faff;
$color-input-focus-text: #4c395c;
$color-input-focus-border: #00aeef;
$color-invalid-text: #df0a53;
$color-invalid-border: $color-invalid-text;
$color-invalid-background: #fee0ea;
$color-error-text: #e12073;
$color-row-odd: $color-light-blue;
$color-row-even: #dcdcdc;

