////
/// Theme for Ngx components such as chips
////

@import '~ngx-chips/core/styles/core/_core.scss';
@import 'variables';

$supplier-theme: (
  container-border-bottom: 1px solid $color-input-border,
  container-border-bottom-focused: 1px solid $color-input-focus-border
);

$supplier-tag-theme: (
  height: auto
);

tag-input {
  // apply theme to the container
  .ng2-tag-input.supplier-theme {
    @include tag-input-theme($supplier-theme);

    border: 1px solid $color-input-border;
    color: $color-input-text;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;

    &.ng2-tag-input--focused {
      border: 1px solid $color-input-focus-border;
      background: $color-input-focus-background;

      input {
        color: $color-input-focus-text;
        background: $color-input-focus-background;
      }
    }

    &.ng2-tag-input--invalid {
      input {
        color: $color-invalid-text;
        background: $color-invalid-background;
        border-color: $color-invalid-border;
      }
    }
  }

  &.ng-invalid.ng-dirty,
  &.ng-invalid.ng-touched {
    .ng2-tag-input.supplier-theme,
    .ng2-tag-input.supplier-theme input {
      color: $color-invalid-text;
      background: $color-invalid-background;
      border-color: $color-invalid-border;
    }
  }

  // apply theme to the tags
  .ng2-tag-input.supplier-theme tag {
    @include tag-theme($supplier-tag-theme);
  }
}

// Overriding default material z-index: 1000 since Bootstrap popup has z-index: 1050
.ng2-dropdown-menu {
  z-index: 10000 !important;
}
