<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form
    class="form-horizontal"
    [formGroup]="form">

    <div class="form-group row"
         *ngFor="let field of config">

      <div class="col-sm-2 col-form-label">
        <app-field-label
          [name]="field.name"
          [label]="field.label"
          [required]="true">
        </app-field-label>
      </div>

      <div class="col-sm-10">
        <app-text-field
          *ngIf="field.type === CONTROL_TYPES.Text"
          [name]="field.name"
          [placeholder]="field.placeholder"
          [isValid]="!isInvalid(field.name)"
          [errorMsg]="getFieldErrorMsg(field.name)"
          [formControlName]="field.name">
        </app-text-field>

        <app-phone-field
          *ngIf="field.type === CONTROL_TYPES.Phone"
          [name]="field.name"
          [placeholder]="field.placeholder"
          [isValid]="!isInvalid(field.name)"
          [errorMsg]="getFieldErrorMsg(field.name)"
          [formControlName]="field.name">
        </app-phone-field>

        <div *ngIf="field.type === CONTROL_TYPES.Tags">
          <tag-input
            [formControlName]="field.name"
            [placeholder]="'+ Group'"
            [validators]="[field.validator]"
            [secondaryPlaceholder]="field.placeholder"
            [id]="field.name"
            [theme]="'supplier-theme'"
            (onAdd)="onGroupAdd($event)"
            (onRemove)="onGroupRemove($event)">
            <tag-input-dropdown
              [autocompleteItems]="groups">
            </tag-input-dropdown>
          </tag-input>

          <app-error-field
            [displayError]="isInvalid(field.name)"
            [errorMsg]="getFieldErrorMsg(field.name)">
          </app-error-field>
        </div>

      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')">
    Close
  </button>

  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="save()">
    Save
  </button>
</div>
