////
/// Edit supplier popup form styles
////

.control-label {
  position: relative;

  &.required:after {
    color: #d00;
    content: "*";
    position: absolute;
    top: 1px;
    right: -10px;
  }
}
