////
/// Text field styles
////
@import '../../../../sass/variables';


input {
  border: 1px solid $color-input-border;
  color: $color-input-text;

  &:focus {
    background: $color-input-focus-background;
    color: $color-input-focus-text;
    border: 1px solid $color-input-focus-border;
    box-shadow: none;
  }

  &.invalid {
    color: $color-invalid-text;
    background: $color-invalid-background;
    border-color: $color-invalid-border;
  }
}

