<div
  class="phone-field form-control d-flex flex-row align-items-stretch"
  [ngClass]="{ expanded: isDropdownExpanded }">
  <span
    class="flag-dropdown pr-1"
    (click)="onExpanderClick()">
    <app-flag-icon
      [source]="countryCode.flagImage"
      [country]="countryCode.countryFull">
    </app-flag-icon>

    <span class="expander ml-1">
      <img
        *ngIf="isDropdownExpanded"
        class="collapse-img"
        src="/assets/collapse.svg"
        alt="Collapse">
    <img
      *ngIf="!isDropdownExpanded"
      class="expand-img"
      src="/assets/collapse.svg"
      alt="Expand">
    </span>
  </span>
  <span class="separator align-self-stretch"></span>
  <span class="phone-code pl-1">{{ countryCode.phoneCode }}</span>
  <span class="phone-input-wrapper pl-2">
    <input type="text"
           [ngClass]="{ invalid: !isValid }"
           [placeholder]="placeholder"
           [id]="name"
           [value]="number"
           (change)="onChange($event)"
           (keyup)="onChange($event)">
  </span>

  <div
    *ngIf="isDropdownExpanded"
    class="dropdown-list">
    <input
      type="text"
      class="dropdown-filter"
      [(ngModel)]="filter"
      placeholder="Search...">

    <div *ngFor="let item of filteredCountryCodes">
      <app-dropdown-item
        [countryCode]="item"
        [isActive]="item === countryCode"
        (itemSelect)="onCountrySelect($event)">
      </app-dropdown-item>
    </div>

    <div
      *ngIf="filteredCountryCodes.length === 0"
      class="p-2">
      No countries found
    </div>
  </div>
</div>
<app-error-field
  [displayError]="!isValid"
  [errorMsg]="errorMsg">
</app-error-field>
