////
/// Phone field styles
////
@import '../../../../sass/variables';

:host {
  &.ng-invalid.ng-dirty,
  &.ng-invalid.ng-touched {
    .phone-field,
    input {
      background: $color-invalid-background;
    }

    .phone-input-wrapper,
    .phone-code,
    .flag-dropdown {
      border-color: $color-invalid-border;
    }

    .separator {
      // Using border as background since separator simulates a border
      background: $color-invalid-border;
    }
  }
}

.phone-field {
  //border-right: 1px solid $color-input-border;
  //border-bottom: 1px solid $color-input-border;
  //border-left: 0;
  border: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: $color-input-text;
  padding: 0 0 0.02rem 0;
  // 0.75rem
  position: relative;
}

.flag-dropdown {
  cursor: pointer;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
  border-left: 1px solid $color-input-border;
  border-top: 1px solid $color-input-border;
  border-bottom: 1px solid $color-input-border;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;

  .expanded & {
    background: $color-input-focus-background;
    border-bottom-left-radius: 0;
    border-left-color: $color-input-focus-border !important;
    border-top-color: $color-input-focus-border !important;
    border-bottom-color: $color-input-focus-border;
  }

  .collapse-img,
  .expand-img {
    display: inline-block;
    width: 15px;
    height: 15px;
  }
}

.separator {
  width: 1px;
  background: $color-input-border;

  .expanded & {
    background: $color-input-focus-border !important;
  }
}

.phone-code {
  display: inline-block;
  padding: 0.37rem 0;
  border-top: 1px solid $color-input-border;
  border-bottom: 1px solid $color-input-border;
}

.phone-input-wrapper {
  flex: 1 1 auto;
  border-right: 1px solid $color-input-border;
  border-top: 1px solid $color-input-border;
  border-bottom: 1px solid $color-input-border;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-right: 0.75rem;

  input {
    border: 0;
    padding: 0.37rem 0;
    display: inline-block;
    width: 100%;
    color: $color-gray;
    line-height: 1.5;

    &:focus {
      border: 0;
      outline: none;
    }

  }
}

.dropdown-list {
  background: $color-white;
  border: 1px solid $color-input-focus-border;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-left: 0.05rem;
  padding-bottom: 0.05rem;
  position: absolute;
  top: 36px;
  left: 0;
  width: 75%;
  z-index: 2000;

  .dropdown-filter {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $color-input-border;
    outline: none;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
  }
}
