<div class="card">
  <div class="card-body">
    <div *ngIf="showGrouped">
      <div *ngFor="let group of getNotEmptyGroups(); let index = index">
        <div class="row mb-2"
             [ngClass]="{ 'mt-2': index !== 0 }">
          <app-group-item
            [group]="group">
          </app-group-item>
        </div>

        <app-supplier-item
          *ngFor="let supplier of getGroupSuppliers(group); let even = even; let odd = odd"
          [ngClass]="{ even: even, odd: odd }"
          [supplier]="supplier"
          [showGroups]="false"
          (supplierEdit)="onSupplierEdit(supplier)"
          (supplierDelete)="onSupplierDelete(supplier)">
        </app-supplier-item>
      </div>
    </div>

    <div *ngIf="showListed">
      <app-supplier-item
        *ngFor="let supplier of suppliers; let even = even; let odd = odd"
        [ngClass]="{ even: even, odd: odd }"
        [supplier]="supplier"
        [showGroups]="true"
        (supplierEdit)="onSupplierEdit(supplier)"
        (supplierDelete)="onSupplierDelete(supplier)">
      </app-supplier-item>
    </div>

    <div
      *ngIf="showEmpty"
      class="no-result">
      No suppliers found.
    </div>

  </div>
</div>
