<div class="container">

  <h1 class="display-3">{{ title }}</h1>

  <nav class="navbar navbar-expand navbar-light bg-light mt-3">
    <div class="mr-auto">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="filterPhrase"
        placeholder="Search...">
    </div>

    <ul class="navbar-nav">
      <li class="nav-item"
          [ngClass]="{'active': !isGrouped}">
        <a class="nav-link"
           (click)="onFlatViewClick()"
           href="#">
          <fa-icon
            [icon]="faListUl">
          </fa-icon>
        </a>
      </li>
      <li class="nav-item"
          [ngClass]="{'active': isGrouped}">
        <a class="nav-link"
           (click)="onGroupedViewClick()"
           href="#">
          <fa-icon
            [icon]="faSitemap">
          </fa-icon>
        </a>
      </li>
    </ul>
  </nav>

  <section class="content mt-3">
    <app-suppliers-list
      [isGrouped]="isGrouped"
      [filterPhrase]="filterPhrase">
    </app-suppliers-list>
  </section>

  <section class="toolbar mt-3 mb-3">
    <button
      class="btn btn-outline-primary"
      (click)="onAddSupplierClick()">
      <fa-icon
        [icon]="faPlusCircle">
      </fa-icon>
      Add
    </button>
  </section>

</div>
