////
/// Dropdown item styles
////
@import '../../../../../sass/variables';

:host > div {
  cursor: pointer;
  padding: 2px 5px;

  &:hover,
  &.active {
    background: $color-input-focus-background;
  }
}
