<div
  [ngClass]="{ active: isActive }"
  (click)="onItemClick()">
  <app-flag-icon
    [source]="countryCode.flagImage"
    [country]="countryCode.countryFull">
  </app-flag-icon>
  <span class="pl-2">{{ countryCode.countryCode }} - {{ countryCode.countryFull }}</span>
</div>
